@import '../../styles/mixins';

.modal-profile{
    min-width: 300px;
    &__phone{
        display: inline-flex;
    }
    &__close{
        top: 5px;
        right: 5px;
        position: absolute;
        width: 30px;
    }
    &__image{
        width: 40px;
        height: 40px;
        border-radius: 50%;
        margin-right: 4px;
    }
    &__image-container{
        display: flex;

    }
}

.PhoneInputCountry{
    display: flex;
}
.PhoneInputCountrySelect{
    width: 80px;
    margin-right: 5px;
}
.PhoneInputCountryIcon{
    display: flex;
    width: 50px;
    margin-right: 5px;
}

#recaptcha-container{
    width: 300px;
    height: 40px;
}