.chat-room {
  display: inline-flex;
  transition: 0.3s ease-out;
  flex-direction: column;
  position: relative;
  height: 100%;
  vertical-align: top;
  width: 100%;
  &--small { width: 20% }
  overflow: hidden;
  &__input-container { 
    display: flex; 
    width: 100vw;
  }
  &__messages { 
    background-color: #fffbde;
    flex-grow: 1;
    margin-top: 41px; 
    padding: 0 10px;
    overflow: scroll;
    width: 100vw;
  }

  &__message { width: 100% }
  &__field { 
    margin-left: 10px;
    flex-grow: 1;
    border-radius: 4px;
    border: 2px solid #d6a542;
    outline: none;
    background-color: #fffbde;  
  }
  &__button{
    background-color: #d6a542;
    font-size: .9rem;
    color: white;
    border: none;
    outline: none;
    border-radius: 50px;
    display: block;
    width: 10%;
    padding: 5px;
    margin: 0 5px;
    cursor: pointer;
    min-width: 45px;
  }
}