.chat-room {
  position: relative;
  height: 100%;
  flex-grow: 1;
  overflow-x: hidden;
  &__input-container { 
    display: flex; 
    position: absolute;
    width: 100vw;
    bottom: 0;
    left: 0;
    right: auto;
  }
  &__messages { 
    height: 100%; 
    margin-top: 41px; 
    padding: 0 10px 75px 10px;
    overflow: scroll;
  }
  &__field { flex-grow: 1;}
}