.chat-room {
  display: inline-flex;
  transition: 0.3s ease-out;
  flex-direction: column;
  position: relative;
  height: 100%;
  vertical-align: top;
  width: 100%;
  &--small { width: 20% }
  overflow: hidden;
  &__input-container { 
    display: flex; 
    width: 100vw;
  }
  &__messages { 
    background-color: #fffbde;
    flex-grow: 1;
    margin-top: 41px; 
    padding: 0 10px;
    overflow: scroll;
    width: 100vw;
  }

  &__message { width: 100% }
  &__field { flex-grow: 1;}
}